div(ng-init='init()')
    div(class = 'container')
        div(class = 'row')
            div(ng-repeat='profile in profiles')
                flippy(
                class="col-md-4 col-sm-6 col-xs-12",
                flip="['click']",
                flip-back="['click']",
                duration="1500",
                timing-function="ease-in-out")
                    flippy-front
                        img(ng-src='{{profile.pic}}', class='photo')
                        div(class='info_container')
                            div(class='author_container')
                                img(ng-src='{{profile.userPic}}' class='author_icon')
                                p(ng-if='isMercedWorksProfile(profile)') {{getName(profile)}}
                                a(ng-href='{{profile.link}}', ng-if='!isMercedWorksProfile(profile)')
                                    p {{getName(profile)}}
                            div(class='type_container')
                    flippy-back
                        div(class='cap_container')
                            p {{profile.caption | limitTo: 500}}
                        div(class='cap_info_container')
                            p {{profile.dateCreated | date }}
                        

