doctype html
html
    head
        title=appName

        // meta
        each metaHeader in metaHeaders
            #{tagCreator('meta', metaHeader)}

        // stylesheets
        each styleSheet in styleSheets
            link(rel='stylesheet', href=styleSheet)

    body(ng-app=appName)
        div(ng-view)
            block content

        each angularScript in angularScripts
            script(type='application/javascript', src=angularScript)

        each customScript in customScripts
            script(type='application/javascript', src=customScript)
