doctype html
html
    head
        title=appName

        // stylesheets
        each styleSheet in styleSheets
            link(rel='stylesheet', href=styleSheet)

        // scripts
        each libScript in libScripts
            script(type='application/javascript', src=libScript)

    body(ng-app=appName)
        div(ng-view)
            block content

        each angularScript in angularScripts
            script(type='application/javascript', src=angularScript)

        each customScript in customScripts
            script(type='application/javascript', src=customScript)
